<!-- -*- mode: XML -*- -->
<launch>

  <rosparam>
    /use_sim_time: true
  </rosparam>

  <node pkg="fixed_tf_broadcaster" type="map_broadcaster_201.py" name="map_broadcaster"
output="screen" />

  <node pkg="fixed_tf_broadcaster" type="camera_broadcaster_201.py" name="camera_broadcaster"
output="screen" />

  <node pkg="fixed_tf_broadcaster" type="base_broadcaster_201.py" name="base_broadcaster"
output="screen" />

  <node pkg="fixed_tf_broadcaster" type="odom_broadcaster_201.py" name="odom_broadcaster"
output="screen" />

  <include file="$(find velodyne_pointcloud)/launch/64e_points_201.launch"></include>  


  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 0.8  /home/sukie/Lab/Data/guilin/data.bag"/>

 <include file="$(find loam_velodyne)/launch/loam_velodyne.launch"></include> 

</launch>
